@import "header.css";

/* Main */
.main {
  padding-top: 54px;
}

/* Container */
.main .container {
  padding-top: 30px;
  width: 935px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/* Story list */
.main .container .story-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Story list item */
.main .container .story-list .story-list__item {
  margin-bottom: 30px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

/* Item list header */
.main .container .story-list .story-list__item .sl__item__header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

/* Item list header div */
.main .container .story-list .story-list__item .sl__item__header div {
  margin-left: 10px;
}

/* Item list header image range box */
.main
  .container
  .story-list
  .story-list__item
  .sl__item__header
  div:nth-child(1) {
  width: 40px;
  height: 40px;
  padding: 3px;
  border-radius: 50%;
  position: relative;
}

/* Item list header image */
.main
  .container
  .story-list
  .story-list__item
  .sl__item__header
  div:nth-child(1)
  img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* Story image box */
.main .container .story-list .story-list__item .sl__item__img {
  height: 600px;
  min-height: 300px;
}

/* Story image */
.main .container .story-list .story-list__item .sl__item__img img {
  width: 100%;
  height: 100%;
}

/* Range under image */
.main .container .story-list .story-list__item .sl__item__contents {
  display: flex;
  flex-direction: column;
}

/* Like button range */
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents
  .sl__item__contents__icon {
  height: 40px;
  padding: 5px 0;      
}

/* Like button */
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents
  .sl__item__contents__icon
  button {
  background-color: transparent;
  width: 40px;
  font-size: 25px;
  
  border: 0;
  cursor: pointer;
}

/* Story content */
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents
  .sl__item__contents__content {
  padding: 5px 15px;
}

/* Like count style */
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents .like{
	background-color: transparent;
	border: 0;
	color: #aaa;
	font-size: 14px;
	margin-bottom: 5px;
	text-indent: 15px;
}
/* Like count value */
.main
  .container
  .story-list
  .story-list__item
.sl__item__contents .like b{
	margin-right: 5px;
}

/* Tag range */
.sl__item__contents__tags{
  height: 40px;
  padding: 5px 10px;  
  color: #0080ff;
}

/* Comment */
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents
  .sl__item__contents__comment
  {
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;
  color: #000;
  font-size: 16px;
  padding: 0 15px;
  margin-bottom: 5px;
}

/* Delete comment button */
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents
.sl__item__contents__comment button{ border: none; outline: none; background: #fff; cursor: pointer;}

/* Comment input window */
.main .container .story-list .story-list__item .sl__item__input {
  display: flex;
  border-top: 1px solid #dbdbdb;
}

/* Input */
.main .container .story-list .story-list__item .sl__item__input input {
  flex: 9;
  height: 56px;
  border: 0;
  padding-left: 15px;
}
/* Input button* /
.main .container .story-list .story-list__item .sl__item__input button {
  flex: 1;
  height: 56px;
  border: 0;
  background-color: transparent;
  font-weight: 500;
  color: #0095f6;
  font-size: 14px;
}

/* Event */
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents
  .sl__item__contents__icon
  button:first-child
  .active {
  color: red;
}

.profile-image {
  border: 2px solid #8a3ab8;
}
